<%= simple_form_for  @bill, defaults: {label_html: {class: 'form-title'}}, html: {class: 'form-vertical'} do |f| %>
  <div class="row">
    <div class="col-md-6">
      <ul class="list-unstyled">
        <li>
          <%= f.input :title, as: :string,input_html: {class: 'form-control' }%>
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <ul class="list-unstyled">
        <li>
          <%= f.input :date_record, as: :datePicker  %>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <ul class="list-unstyled">
        <li>
          <%= f.input :input, as: :currency, input_html: {class: 'form-control'} %>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <ul class="list-unstyled">
        <li>
          <%= f.input :output, as: :currency, input_html: {class: 'form-control'} %>
        </li>
      </ul>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-md-2">
      <ul class="list-unstyled">
        <li>
          <%= f.submit t('links.save'), class: 'btn btn-primary'%>
          <%= link_to t('links.back'), bills_path %>
        </li>
      </ul>
    </div>
  </div>
<% end %>
<script type="text/javascript">
  moment.locale('pt-BR');
    $("#bill_input").maskMoney();
    $("#bill_output").maskMoney();
</script>