<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <%= link_to "MyProfit", new_session_path(resource_name), :class => "navbar-brand" %>
    </div>
    <%= menu_group :pull => :right do %>
      <%= drop_down fa_icon("globe") do %>
        <%= menu_item fa_icon("flag", text: t("infos.portuges")), set_pt_language_index_path, method: :post %>
        <%= menu_item fa_icon("flag", text: t("infos.ingles")), set_en_language_index_path, method: :post %>
      <% end %>
    <% end %>
  </div>
  <!-- /.container-fluid -->
</nav>