<!DOCTYPE html>
<html>
  <head>
    <title>Myprofit</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    <meta name="description" content="Manage your bills rigth here.">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#3A6B74">
  </head>
  <body>
    <header>
      <div id="header-wrap">
        <% if user_signed_in? %>
          <%= render 'layouts/user_navbar'%>
        <%else%>
          <%= render 'layouts/visitor_navbar'%>
        <%end%>
      </div>
    </header>
    <div class="container">
      <%= render 'layouts/messages' %>
      <div class="panel panel-default">
        <div id="content-fluid" class="panel-body">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>